<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>به چهارخونه خوش آمدید!</h1>
    <p>
      مدیر ساختمان شما را به عنوان ساکن واحد <%= @unit.unit_number %> از ساختمان <%= @building.name %> معرفی کرده است. برای تکمیل پروفایل با
      نام کاربری: <%= @user.email %><br>
      گذرواژه: "1234"<br/>
      به <a href="http://www.4-khuneh.ir">وبسایت چهارخونه</a> مراجعه فرمایید.
    </p>
    <p>راحتی شما را در استفاد هاز چهارخونه آرزومندیم.</p>
    <p>با تشکر فراوان،</p>
    <p>تیم مدیریتی چهارخونه.</p>
  </body>
</html>