<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>4Khuneh profile updated</h1>
    <p>Hi <%= @profile.first_name %></p>
    <p>
      You have successfully updated your profile at 4Khuneh.
    </p>
    <p>Sincerely,<br>The 4khuneh team
    </p>
  </body>
</html>