
<nav class="navbar navbar-inverse header2" role="navigation">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Brand</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/charge/dashboard">Dashboard</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Building <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/building/settings">Building Settings</a></li>
						<li class="divider"></li>
						<li><a href="#">Settings</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Apt Monthly Charge</a></li>
						<li class="divider"></li>
						<li><a href="#">Building  Monthly Charge</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Building News</a></li>
						<li class="divider"></li>
						<li><a href="#">Charge News</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" name="search-text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</nav>
<!--
<div class="subnavbar">
	<div class="subnavbar-inner">
		<div class="container">
			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li class="active">
						<a href="/">Dashboard</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
-->
<div class="clearfix"></div>
<div class="container">
	<br>
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Panel Title</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="container-fluid">
					<div class="table-responsive">
						<table class="table table-hover no-margin">
							<thead>
								<tr>
									<th style="width=20%;">Apt #</th>
									<th style="width=40%;">Resident</th>
									<th style="width=40%;" class="hidden-xs">Bills</th>
									<th style="width=40%;" class="hidden-xs">Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>1</th>
									<th>Ghorbani</th>
									<th><button class="btn btn-success hidden-xs">Bills</button></th>
									<th><button class="btn btn-success">Details</button></th>
								</tr>
								<tr>
									<th>1</th>
									<th>Ghorbani</th>
									<th><button class="btn btn-success hidden-xs">Bills</button></th>
									<th><button class="btn btn-success">Details</button></th>
								</tr>
								<tr>
									<th>1</th>
									<th>Ghorbani</th>
									<th><button class="btn btn-success hidden-xs">Bills</button></th>
									<th><button class="btn btn-success">Details</button></th>
								</tr>
								<tr>
									<th>1</th>
									<th>Ghorbani</th>
									<th><button class="btn btn-success hidden-xs">Bills</button></th>
									<th><button class="btn btn-success">Details</button></th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- In case needed
		<div class="panel-footer">
			Panel footer
			<br>
		</div>
		-->
	</div>
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" href="#collapseNews">
						<h4>Recent News </h4>
					</a>
				</div>
				<div id="collapseNews" class="accordion-body collapse">
					<ul class="news-items">
						<li>
							<div class="news-item-detail">
								<a class="news-item-title" href="/news/1">Charge launched</a>
								<div class="news-item-preview">Hello ...........</div>
							</div>
						</li>
						<li class="divider"></li>
						<li>
							<div class="news-item-detail">
								<a class="news-item-title" href="/news/1">Charge launched</a>
								<div class="news-item-preview">Hello ...........</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
