
<!--START SUB-NAVBAR -->

<!--
<div class="subnav subnav-fixed">
  <div class="container">
    <ul class="nav navbar-nav nav-pills">
      <li class="active">
        <a href="#labels">
          <i style="margin-top:7px;" class="glyphicon glyphicon-dashboard icon-large"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="pages.htm"><i style="margin-top:7px;" class="glyphicon glyphicon-th icon-large"></i>Pages</a>
      </li>
      <li>
        <a href="pages.htm"><i style="margin-top:7px;" class=" glyphicon glyphicon-file icon-large"></i>Articles</a>
      </li>
      <li>
        <a href="pages.htm"><i style="margin-top:7px;" class="glyphicon glyphicon-picture icon-large"></i>Media</a>
      </li>
      <li>
        <a href="pages.htm"><i style="margin-top:7px;" class="glyphicon glyphicon-bar-chart icon-large"></i>Reports</a>
      </li>
      <li>
        <a href="pages.htm"><i style="margin-top:7px;" class="glyphicon glyphicon-tasks icon-large"></i>Widgets</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="pages.htm">
          <i style="margin-top:7px;" class="glyphicon glyphicon-cog icon-large"></i>Settings
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Server Status</a>
          </li>
          <li>
            <a href="pages.htm">Security</a>
          </li>
          <li>
            <a href="pages.htm">Cache</a>
          </li>
          <li>
            <a href="pages.htm">Templates</a>
          </li>
        </ul>
      </li>
      <!--
      <li>
        <form style="padding:5px;" class="navbar-search pull-left" action="">
          <input type="text" class="search-query col-md-3" placeholder="Search">
        </form>
      </li>
      
    </ul>
  </div>
</div>
-->
 <!--END NAVBAR -->

 <!--START MAIN-CONTENT -->

<div class="container" style="margin-top:30px;">

  <!--START STATS-WIDGET -->

  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>آمار وضعیت</h4>
        </div>
        <div class="panel-body">
          <ul id="sortable" class="unstyled ui-sortable" style="padding-left:20px;">
            <div class="col-md-4">
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#4DB848;">$2565</h1>
                <p>Todays Earnings</p>
              </div>
            </li>
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#0099FF;">10,789</h1>
                <p>Unique Visitors</p>
              </div>
            </li>
            </div>
            <div class="col-md-4">
            <li class="ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#ff4056;">500,467</h1>
                <p>Total Visitors</p>
              </div>
            </li>

            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#ff9900;">1,486</h1>
                <p>Registered Users</p>
              </div>
            </li>
            </div>
            <div class="col-md-4">
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#FF6320;">564</h1>
                <p>Published Articles</p>
              </div>
            </li>
            <li class="ui-state-default">
              <div class="infoblock shadow ">
                <h1 style="color:#6148B3;">4,587</h1>
                <p>Todays Visitors</p>
              </div>
            </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <!--END STATS-WIDGET -->

    <!--START -RECENT-POSTS-WIDGET -->

    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>پست های اخیر</h4>
        </div>
        <div class="panel-body">
          <p>این یک آزمون است</p>
        </div>
      </div>
    </div>
  </div>
</div>
