
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>قبض جدید</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">

					<%= render 'form' %>

					<%= link_to t('Back'), bills_path, :class => 'btn btn-orange' %>
				</div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </div>
</div>
