
<div class="container">
  <div class="panel">
    <div class="panel-heading">
        <h1>ایجاد خبر</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">

					<%= render 'form' %>

					<br>

					<%= link_to t('Back'), news_index_path, :class => 'btn btn-orange' %>
				</div>
        <div class="col-sm-7"></div>
      </div>
    </div>
  </div>
</div>
