<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>ایجاد ساختمان</h1>
    </div>
    <div class="panel-body">
    	<div class="row">
    		<div class="col-md-5">

				<%= render 'form' %>

				<br>
				<%= link_to 'بازگشت', buildings_path %>
    		</div>
    		<div class="col-md-7"></div>
    	</div>
    </div>
  </div>
</div>
