<h1>ویرایش واحد</h1>

<%= render 'form' %>

<br/>
<br/>
<br/>
<%= link_to t('Back'), building_path(@unit.building), :class => 'btn btn-lg btn-danger col-md-3' %>
<br/>
<br/>
<br/>
<%= link_to "حذف این واحد", @unit, method: :delete, data: { confirm: 'آیا مطمئن هستید؟' }, :class => 'btn btn-danger' %>
