
<div class="container">
  <div class="panel">
    <div class="panel-heading">
		<h1>ایجاد واحد</h1>
	</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">

          <h1>ساختمان: <%= @unit.building_id %></h1>
          <%= render 'form' %>

        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </div>
</div>
