
<div class="container">
  <div class="panel">
    <div class="panel-heading">
    <h3><% if @unit.building.name != nil %>
          ایجاد واحد جدید برای <%= @unit.building.name %>
          <% else %>
          ایجاد واحد جدید
          <% end %></h3>
	</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <%= render 'form' %>
          <br/>
          <br/>
          <br/>
          <%= link_to building_path(@unit.building),:class => "btn btn-primary" do %>
          <i class="fa fa-arrow-circle-o-right"></i>&nbsp;
          <%= t('Back') %>
          <% end %>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </div>
</div>
