
@font-face {
  font-family:'yekan';
  src:url('/assets/BYekan.eot'),url('/assets/BYekan.woff'),url('/assets/BYekan.ttf');
}

@font-face {
  font-family:'sade';
  src:url("/assets/A-Sade.ttf");
}
@font-face {
  font-family:'shikaste';
  src:url("/assets/AShekari.ttf");
}
@font-face {
  font-family:'nastealigh';
  src:url("/assets/IranNastaliq.TTF");
}

@font-face {
    font-family: 'WMitra';
    src: url('/assets/WebMitra.eot');
    src: url('/assets/WebMitra.eot?#iefix') format('embedded-opentype'),
         url('/assets/WebMitra.woff') format('woff'),
         url('/assets/WebMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600–06FF;
}
         /*url('/fonts/WebMitra.svg#WebMitra') format('svg');*/

#sortable {
  list-style-type:
  none; margin: 0; padding: 0;
  border:none;
}
#sortable li {
  margin:10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border:1px solid #E6E6E6;
  background:#FBFBFB;
}

.infoblock {
  width:auto;
  display:block;
  padding:15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align:center;
  margin: 0;
}

.infoblock p {text-align:center;}


div.shadow {
  background:#FBFBFB;
}

div.shadow:hover {
  cursor: pointer ;
  background:#F3F3F3;
}

.btn-nav {
  background: #3B3B3B;
  display: inline-block;
  text-align: center;
  padding: 9px 19px 11px;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  font-size:14px;
  position: relative;
  cursor: pointer;
  border: none;
}

.btn-nav:hover, .btn-nav:focus  { background-color: #363636; color: #fff; }

.btn-text, .btn-text:hover {
  color: #fff;
  text-decoration: none;
}

/*----------------------*/

body {
  background-image: url("/assets/17.jpeg") repeat-x;
  padding-top: 160px;
  min-height: 100%;
  font-size: 15px;
  /*padding-bottom: 100px;*/
  /*font-family: Tahoma, Geneva, sans-serif;*/
  /*font-family: WMitra, Tahome, Arial;*/
  font-family: 'WMitra';
  height: 100%;
}

body .container {
  /*padding-bottom: 50px;*/
  min-height: 100%;
}

footer {
  clear: both;
  position: relative;
  bottom: 0;
  /*right: 0;*/
  /*left: 0;*/
  /*vertical-align: middle;*/
  padding: 10px 0 15px 0;
  display: block;
  background: #2e3234;
  color: #747474;
  font-size: 16px;
  margin-bottom: 0;
  /*text-align: center;*/
}

footer h3 {
  color: white;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  display: list-item;
}

* {
  margin: 0;
}
html {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

/* Common classes        */

.ltr {
  direction: ltr;
  text-align: left;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.icon-large {
  font-size: 18px;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

/* Special classes        */

.panel {
  border:1px solid #3498db;
}

.panel-heading {
  padding: 5px 10px 5px 10px;
  /*border:1px solid #4db848;*/
  background: #3498db; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #4db848 0%, #3e9339 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#4db848), color-stop(100%,#3e9339)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#4db848 0%,#3e9339 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#4db848 0%,#3e9339 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#4db848 0%,#3e9339 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#207cca 0%,#4db848 0%,#3e9339 100%); /* W3C */
  background: #333399; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1498fb', endColorstr='#2980b9',GradientType=0 ); /* IE6-9 */
}

.panel-heading {
  color: white;
  font-weight:400;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4 {
  margin: 10px 0 5px 0;
}

.panel-heading h4 {
  color:white;
  font-weight:400;
}

.panel-heading small {
  color:white;
}

.panel-body {
  /*padding: 5px 10px 5px 10px;*/
}

.panel-body div.divider {
  position: relative;
  margin: 10px 0 10px 0;
  border: 1px dotted #A6C4DB;
}

.notification {
  position: absolute;
  top: 65px;
  right: 30px;
  z-index: 1050;
  min-height: 55px;
  background-color: rgb(77, 184, 72);
  border-radius: 10px;
  color: white;
  display: none;
  padding: 13px 15px 10px 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
}

.btn-orange {
  color: white;
  background-color: #F3B149;
  border-color: #F3A223;
}

.btn-orange:hover {
  color: white;
  background-color: #F3A223;
  border-color: #F29708;
}

#buildings-table {
  font-size: 20px;
}

/*----------------------*/

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.main-menu {
  font-size: 125%;
}

.mainnav {
  /*background: url("/assets/header_bg.png") repeat-x  ;*/
  background-color: #30304a;
  background-size:  70px;
  /*position: relative;*/
  /*margin-bottom: 0;*/
}

.mainnav ul li {
  display: block;
  color: white;
}

.mainnav .nav > li > a,
.mainnav .nav > li > a:link,
.mainnav .nav > li > a:active,
.mainnav .nav > li > a:visited {
  background: rgba(255, 255, 255, 0);
}
.mainnav .nav > li > ul {
  /*margin-top: 1px;*/
  background-color: #363636;
}
.mainnav .nav > li > ul > li {
  color:#4DB848;
}
.mainnav .nav > li > ul > li.divider {
  background-color: #4DB848;
}

.mainnav .nav > li > ul > li > a {
  color: white;
}
.mainnav .nav > li > ul > li > a:hover {
  background-color: #4DB848;
}

.main-menu {  
  min-height: 65px;
  padding-right: 20px;
  padding-left: 20px;
}


.subnav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 56px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav li {
  /*width: auto;*/
}
.subnav .nav > li > ul {
  /*margin-top: 1px;*/
  background-color: #363636;
}
.subnav .nav > li > ul > li {
  color:#4DB848;
}
.mainnav .nav > li > ul > li.divider {
  background-color: #4DB848;
}
.subnav .nav > li > ul > li > a {
  color: white;
}
.subnav .nav > li > ul > li > a:hover {
  background-color: #4DB848;
}
.subnav .nav > li > a {
  margin: 0;
  /*width: auto;*/
  /*color:#4DB848;*/
  color: #2980b9;
  /*height:32px;*/
  padding-top:    11px;
  font-size:17px;
  padding-top: 17px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #9CA29B;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

@media (max-width: 768px) {

  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }

}

@media (min-width: 1200px) {
  .navbar-nav .caret {
    display:none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}


#column-connect {
  width: 33%;
  float: left;
  padding-left: 170px;
}

#column-product {
  width: 33%;
  float: right;
  padding-right: 170px;
}

#column-main {
  width: 33%;
  padding-top: 50px;
}

/****************************/
.wrapper {
  margin-top: 70px;
  min-height: 80%;
  height: auto !important;
  height: 80%;
  margin-bottom:  -10em;
}
.footer, .push {
  height: 10em;
  clear: both;
}

.logopic{
  margin-top: 10px;
  width: 320px;
  height: auto;
}

.toright{
  right: 0px;
  float: right;; 
}
.toleft{
  left: 0px;
  float: left;
  padding-left: 0px;
  margin-top: 13px;
}

.rowred{
  background-color: #FA9191;
}

.rowred:hover{
  background-color: #FF2E2E;
}

.rowgreen{
  background-color: #A3FFA3;
}

.rowgreen:hover{
  background-color: #2DFC2D;
}


.mainnavbar {
  min-height: 115px;
}

.paeen {
  margin-top: 0px;
}

.shiftdown {
  margin-top: 60px;
}