
.pdp-default .nextArrow:hover, .pdp-default .prevArrow:hover{
    color: #0073ea;
}

.pdp-default .cell {  
    display: inline-block;    
    cursor: pointer;
    text-align: center; 
}

/* Days of the week */
.pdp-default .dows {  
    background: #5F5D5D;/*#006fe0;*/
    color: #fff;    
}
.pdp-default .dow {            
    font: bold 14px 'yekan';
    border: 1px solid #5F5D5D;
}

.pdp-default .days{
    background-color: #ffffff;
    border: 1px solid #999;
    border-top: none;
    font: normal 12px Tahoma;   
}

.pdp-default .day{
    border: 1px solid #f1f1f1;    
}

.pdp-default .day:hover{
    background: #f3f3f3;
    border: 1px solid #bbb;
    border-radius: 2px;
}
.pdp-default .selday, .pdp-default .selday:hover{
    background: white;
    color: rgb(235, 143, 0);
    font-size: 110%;
    font-weight: 200%;
}

.pdp-default .friday{
    color: #f38;   
}

.pdp-default .today{
    color: black;
    background-color: rgb(255, 228, 92);
}
.pdp-default .today:hover{
    color: #fff;
    background: #0073ea;    
}

.pdp-default .footer .goToday:hover{    
    color: #ffffff;
    text-decoration: underline;    
}
