
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3><% if @plan.building.name != nil %>
          ایجاد پلان هزینه برای <%= @plan.building.name %>
          <% else %>
          ایجاد پلان هزینه برای ساختمان
          <% end %></h3>
    </div>
    <div class="panel-body">
    	<div class="row">
    		<div class="col-sm-5">

				<%= render 'uform' %>
				<br/>
        <br/>
        <%= link_to plans_path(:building_id => @plan.building_id), :class => "btn btn-orange" do %>
          <i class="fa fa-arrow-circle-o-right"></i>&nbsp;
          <%= t('Back') %>
        <% end %>
			</div>
    		<div class="col-sm-7"></div>
    	</div>
    </div>
  </div>
</div>
