
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>پلان جدید</h1>
    </div>
    <div class="panel-body">
    	<div class="row">
    		<div class="col-md-5">

				<%= render 'form' %>
				&nbsp;
				<%= link_to t('Back'), plans_path(:building_id => @plan.building_id), :class => 'btn btn-primary' %>
			</div>
    		<div class="col-md-7"></div>
    	</div>
    </div>
  </div>
</div>
