<div class='push'></div>
<footer class="footer">
  <div class="container">
    <!--<p style="margin-left:10px;"><a href="http://www.microsoft.com"><i class="glyphicon glyphicon-copyright-mark"></i> ShitWindows</a></p> -->
    <div class="row">
      <div id="column-product" class="col-md-3">
        <h3>محصول</h3>
        <ul>
          <li><a href="/home/pricing">قیمت</a></li>
          <li><a href="/home/features">امکانات</a></li>
          <li><a href="/home/costumers">مشتریان</a></li>
        </ul>
      </div>
      <div id="column-main" class="col-md-3 center">
        <div class="copyright">
            <%= Time.now.in_time_zone('Tehran').strftime("%I:%M-%D") %><br/><br/>
            <i class="fa fa-pagelines"></i><br/>
            حقوق ایجاد کننده محفوظ است. &copy; ۱۳۹۳
        </div>
      </div>
      <div id="column-connect" class="col-md-3 ltr">
        <h3>ارتباط</h3>
        <ul>
          <li><a target="_blank" href="/home/pricing"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a target="_blank" href="/home/features"><i class="fa fa-facebook"></i> Facebook</a></li>
          <!--li><a target="_blank" href="/home/costumers"><i class="fa fa-linkedin"></i> LinkedIn</a></li-->
          <li><a target="_blank" href="/home/pricing"><i class="fa fa-google-plus"></i> Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>