
<footer>
  <div class="footer_container">
    <div class="container">
      <p style="margin-left:10px;"><a href="http://rghorbnai.ir"><i class="glyphicon glyphicon-copyright-mark"></i> آقا رضای قربانی</a></p>
    </div>
  </div>
</footer>

<i title="Raphaël Colour Picker" style="display: none; color: black;"></i>
