
<!--footer>
  <div class="footer_container">
    <div class="container">
      <p style="margin-left:10px;"><a href="http://www.microsoft.com"><i class="glyphicon glyphicon-copyright-mark"></i> ShitWindows</a></p>
    </div>
  </div>
</footer-->

<!--i title="Raphaël Colour Picker" style="display: none; color: black;"></i-->
