<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Charge</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Reza Ghorbani Farid">
  <link href="/assets/font-awesome.min.css" media="all" rel="stylesheet" />
  <link href="/assets/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/assets/charge.css" media="all" rel="stylesheet" />
  <link href="/assets/google-webfonts.css" media="all" rel="stylesheet" />
  <!-- <link href="/assets/application.css" media="all" rel="stylesheet" /> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<!--START NAVBAR -->

<nav id="main-nav" class="mainnav navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt=""></a>
      </div>

      <div class="main-menu collapse navbar-collapse">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-group" style="margin-top:7px;">  <a class="medium twitter button radius" style="text-decoration:none;"><i style="fon   t-  size:14px; padding-top:3px; padding-right:5px;" class="glyphicon glyphicon-envelope-alt"></i>(5) Messages</a> <a href="/users/sign_out" rel="nofollow" class="medium twitter button radius" style="text-decoration:none;"><i style="padding-top:3px; padding-right:5px;" class="glyphicon glyphicon-off"></i>Sign out</a> </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span style="padding-right:10px; width:30px;"><img src="/assets/user_thumb.jpg" style="width:30px;" alt=""></span>Mr Froggy
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Privacy Settings</a>
              </li>
              <li>
                <a href="#">My Account</a>
              </li>
              <li>
                <a href="#">System Settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"><i style="font-size:14px; padding-top:3px; padding-right:5px;" class="glyphicon glyphicon-user"></i>My Account</a>
              </li>
              <li>
                <a href="#"><i style="font-size:14px; padding-top:3px; padding-right:5px;" class="glyphicon glyphicon-lock"></i>Privacy Settings</a>
              </li>
               <li>
                <a href="#"><i style="font-size:14px; padding-top:3px; padding-right:5px;" class="glyphicon glyphicon-cogs"></i>System Settings</a>
              </li>
            </ul>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-group" style="margin-top:7px;">
              <a href="/users/sign_in" class="medium twitter button radius" style="text-decoration:none;">Login</a>
              <a href="/users/sign_up" class="medium twitter button radius" style="text-decoration:none;">Register</a>
            </div>
          </li>
        </ul>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
</nav>

<%= yield %>

<footer>
  <div class="footer_container">
    <div class="container">
      <p style="margin-left:10px;"><a href="http://rghorbnai.ir"><i class="glyphicon glyphicon-copyright-mark"></i> RGF</a></p>
    </div>
  </div>
</footer>


<!--jQuery References-->
<script src="/assets/jquery.min.js" type="text/javascript"></script>
<!-- <script src="/assets/jquery-ui.min.js" type="text/javascript"></script> -->

<!--LOAD JQUERY/JAVASCRIPT ASSETS-->
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<!-- <script src="/assets/scriptdash.js" type="text/javascript"></script> -->

<i title="Raphaël Colour Picker" style="display: none; color: black;"></i>
</body>
</html>
